body {
  margin: 0px !important;
  background-color: #000;
}
.container {
  width: 100%;
  height: 100%;
}

.first-image {
  background-image: url("https://thumbs.dreamstime.com/b/nature-river-side-photography-nd-some-random-clicks-78857225.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  color: #fff;
}

.content {
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 40vh;
}

.second-image {
  background-image: url("https://garyhartblog.com/wp-content/uploads/2013/06/c6g2497tunnelviewrainbow3_blog.jpg?w=800&h=533");
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}