body {
  margin: 0px;
  font-family: poppins, sans-serif;
}
.container {
  width: 100%;
  height: 100%;
}
.text-align {
  text-align: center;
}
.card {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  text-align: center;
  border: 1px solid #0388fb;
  border-radius: 10px;
}
.card > .content {
  padding: 5px;
}
.card > .footer {
  background-color: #5529f4;
  color: #fff;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}