body {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}
